.name {
    font-size: 36pt;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    font-family: 'Quicksand', sans-serif;
}

.fullvh {
    min-height: 100vh;
    /* background-image: url(assets/img/bg.); */
}

#landing-content {
    margin: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.name-container {
    padding: 10px;
    vertical-align: middle;
    border: 4px solid #DDD;

}

.landing-links {
    width: 100%;
    position: absolute;
    padding: 10px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}

.landing-links a {
    margin: 15px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    color: rgba(210, 210, 210, 0.7);
    border: solid #DDD 2px;
    border-radius: 99px;
    padding: 8px;
    transition: linear 0.2s;
    display: inline-block;
}

.landing-links a:hover {
    background: #DDD;
    border-radius: 99px;
    padding: 8px;
}

.twitter:hover {
    color: #1DA1F2
}

.linkedin:hover {
    color: #0077B5
}

.github:hover {
    color: #000
}

#landing-bottom a .icon-white {
    color: rgba(210, 210, 210, 0.7);
}

#landing-bottom {
    width: 100%;
    height: 7%;
    min-height: 10px;
    bottom: 0;
    position: absolute;
}

#landing-bottom a {
    color: rgba(210, 210, 210, 0.7);
    border: solid #DDD 1px;
    border-radius: 99px;
    padding: 8px;
    transition: linear 0.2s;
    display: table;
    margin: 0 auto;
}

#landing-bottom a:hover {
    color: rgba(56, 56, 56, 0.7);
    background: #DDD !important;
    border-radius: 99px;
    padding: 8px;
}

section.section {
    position:relative
}

.section-bottom {
    width: 100%;
    height: 7%;
    min-height: 10px;
    bottom: 0;
    position: absolute;
}

.section-bottom a {
    color: rgba(56, 56, 56, 0.7);
    border: solid #555 1px;
    border-radius: 99px;
    padding: 8px;
    transition: linear 0.2s;
    display: table;
    margin: 0 auto;
}

.section-bottom a:hover {
    color: rgba(210, 210, 210, 0.7);
    background: #555 !important;
    border-radius: 99px;
    padding: 8px;
}